/* Global */
html, body {height: 100%; color: #444; font-family: Helvetica, Arial, sans-serif; font-size: 14px;}
body {overflow-x: auto; overflow-y: scroll;}
.clear {clear: both;}
.clearfix:after {clear: both; content: "."; display: block; font-size: 0; visibility: hidden;}
.layout {max-width: 640px; margin: 0 auto; padding: 0 80px; min-height: 0px}
.hidden {display: none;}
.spacer {height: 1em;}

h1, h2, h3, h4 {
  margin-bottom: 0.5em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

h4 {
  margin-bottom: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

a {
  color: #0069D6;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

strong {
  color: #BD0026;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

ul {
  margin: 1em 2em;
  list-style-type: disc;
}

blockquote {
  margin: 1em 2em;
  padding: 1em;
  border: 1px solid #ccc;
  color: #444;
  border-radius: 0.3em;
  background-color: #eee;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: italic;
}

blockquote ul {
  margin: 1em;
  list-style-type: none;
}

.banner {
  width: 100%;
  padding: 8px 0;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #990100;
  color: #444;
  text-align: center;
}

header {
  padding: 12px;
  position: relative;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0 0 10px #444;
  border-bottom: 1px solid #777;
}

header .layout {
  max-width: 800px;
  padding: 0;
}

header p {
  margin-bottom: 5px;
  float: left;
  line-height: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.4;
  color: rgb(12,37,56);
  max-width: 100%;
}

header h4 {
  margin-bottom: 0;
	float: left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: italic;
	font-size: 14px;
  line-height: 20px;
}

#map {
  width: 100%;
  height: 500px;
  background-color: #fff;
}

#map a.zoomin {
  left: 20px;
}

#map a.zoomout {
  left: 50px;
}

#legend, #filter {
  padding: 10px;
  position: absolute;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 10px #777;
}

#legend {
  bottom: 20px;
  left: 20px;
  border-radius: 0.3em;
  border: 1px solid #777;
}

#legend p {
  margin-bottom: 0;
}

#filter {
  top: 0;
  right: 0;
  border-left: 1px solid #777;
  border-bottom: 1px solid #777;
  border-radius: 0 0 0 0.3em;
}

#filter select {
  float: left;
  margin-right: 10px;
}

#filter select:last-child {
  margin-right: 2px;
}

#legend .key {
  margin: 0 auto;
}

#legend .quantile {
  width: 60px;
  float: left;
  text-align: center;
}

#legend .quantile p {
  font-size: 12px;
  font-style: normal;
}

.container {
  position: relative;
  border-bottom: 1px solid #777;
}

#infographic {
  padding: 2em 0 3em;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px #444;
  border-top: 1px solid #777;
}

#contributions {
  max-width: 800px;
  padding: 20px;
}

#contributions table {
  width: 100%;
  font-size: 12px;
}


#contributions table th {
  padding: 0.3em 0.5em;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  background-color: #222;
  color: #eee;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  text-align: center;
  white-space: nowrap;
}

#contributions table tr:hover {
  background-color: #eee;
  border-color: #fff;
}

#contributions table td {
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  text-align: left;
}

.chart {
  width: 800px;
  height: 480px;
  margin-left: -80px;
}

.social {
  float: right;
}

.social .fb-like, .social .twitter-share-button {
  display: inline-block;
  vertical-align: middle;
}

.mmg-expand {
  position: absolute;
}

#legend .quantile .mmg-marker, .mmg-expand {
  width: 15px;
  height: 15px;
  margin: 0 auto 10px;
  border: 1px solid #444;
  border-radius: 22px;
  box-shadow: 1px 1px 3px #000;
  -webkit-transition-property: width, height, margin;
  -moz-transition-property: width, height, margin;
  -ms-transition-property: width, height, margin;
  -o-transition-property: width, height;, margin
  transition-property: width, height, margin;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

#legend .quantile .mmg-marker.one, .mmg-expand.one {
  background-color: #FED976;
  z-index: 1;
}

#legend .quantile .mmg-marker.two, .mmg-expand.two {
  background-color: #FD8D3C;
  z-index: 2;
}

#legend .quantile .mmg-marker.three, .mmg-expand.three {
  background-color: #FC4E2A;
  z-index: 3;
}

#legend .quantile .mmg-marker.four, .mmg-expand.four {
  background-color: #E31A1C;
  z-index: 4;
}

#legend .quantile .mmg-marker.five, .mmg-expand.five {
  background-color: #BD0026;
  z-index: 5;
}

.mmg-expand.expand {
  margin: -10px 0 0 -10px;
  width: 40px;
  height: 40px;
  z-index: 6;
}

ul.actions {
  margin: 0;
	list-style-type: none;
}

ul.actions li {
	display: inline;
}

.button {
	background-color: rgb(0, 116, 204);
  background-image: -webkit-linear-gradient(top, rgb(0, 136, 204), rgb(0, 85, 204));
  background-repeat: repeat-x;
  border-bottom-color: rgba(0, 0, 0, 0.246094);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.0976563);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.0976563);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.0976563);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 18px;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
  vertical-align: middle;
}
