/* Global */
html, body {height:100%; background-color:#181818; color:#444; font-family:Helvetica, Arial, sans-serif;}
body {overflow-x:auto; overflow-y:scroll;}
.clear {clear:both;}
.clearfix:after {clear: both; content: "."; display:block; font-size:0; visibility:hidden;}
.layout {max-width:960px; margin:0 auto;}
.hidden {display:none;}

.banner {
  width:100%;
  padding:8px 0;
  position:absolute;
  top:0;
  z-index:100;
  background-color:#990100;
  color:#444;
  text-align:center;
}

header {
  padding:10px;
  position:relative;
  z-index:5;
  background-color:#fff;
  box-shadow:0 0 10px #444;
}

#map {
  width:100%;
  height:500px;
  background-color:#8C8984;
}

#contributions table {
  margin:20px 0;
  font-size:14px;
}

#contributions table th {
  font-weight:bold;
}

#contributions table td {
  padding:5px;
  border:2px solid #444;
}

#infographic {
  padding:20px;
  position:relative;
  background-color:#fff;
  box-shadow:0 0 10px #444;
}

p {
  font-size:14px;
}

.filter {
  margin-bottom:20px;
}

h2 {
  font-family:"Droid Sans", Helvetica, Arial, "sans-serif";
  font-size:24px;
  font-weight:400;
  color:#444;
}

/*
h3 {
  color:#444;
  float:left;
  font-family:"Droid Sans", Helvetica, Arial, "sans-serif";
  font-size:16px;
  font-weight:400;
  line-height:20px;
}
*/

.chart {
  height:480px;
}

.social {
  float:right;
}

.social .fb-like, .social .twitter-share-button, .social iframe {
  float:left;
}

.social .fb_iframe_widget span {
  display:inline;
  vertical-align:baseline;
}

#infographic h2 {
  float:left;
}

select {
  float:right;
}

#sidebar {
  display:none;
}

a.footer {
  padding:10px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  display:block;
  background-color:rgba(0,0,0,0.5);
  color:#fff;
  font-size:24px;
  text-align:center;
  text-transform:uppercase;
  text-decoration:none;
}

.schedule, .day, .feature {
  width:100%;
  position:absolute;
  top:100px;
  bottom:0;
  z-index:9999;
  display:none;
  background-color:#000;
  color:#fff;
  font-size:24px;
  overflow-y:scroll;
}

.schedule, .day {
  left:0;
}

.feature {
  right:0;
}

.schedule .wrapper {
  margin:10px 25px;
}

.back {
  position:relative;
  background-color:#333;
  font-size:24px;
  text-transform:uppercase;
  text-align:right;
}

.back a {
  display:block;
  color:#999;
  text-decoration:none;
}

.back a .close {
  display:inline-block;
  margin-left:17px;
  padding:17px;
  background-color:#191919;
}

.feature img {
  width:100%;
  display:block;
}

.schedule h1, .day h1 {
  font-size:32px;
  text-transform:uppercase;
}

.day h1 {
  padding:10px 25px 0;
}

.feature h1 {
  font-size:30px;
  font-weight:normal;
  text-transform:uppercase;
}

.schedule ul {
  margin:40px 0;
  border-top:1px solid #404040;
}

.schedule ul li {
  padding:30px 10px;
  border-bottom:1px solid #404040;
}

.day ul.events {
  margin:40px 0;
  border-top:4px solid #c80011;
}

.day ul.events > li {
  padding:12px 25px 40px;
  background-color:#300;
  border-bottom:1px solid #000;
  font-size:23px;
  line-height:1.2em;
}

.day ul li a {
  color:#990000;
}

.day ul li h2 {
  margin-bottom:2px;
  color:#cc0000;
  font-size:30px;
}

.day ul li h3 {
  margin-bottom:10px;
  padding-bottom:12px;
  border-bottom:1px solid #4d3333;
  font-size:20px;
  font-weight:bold;
  text-transform:uppercase;
}

.feature ul {
  font-size:23px;
}

.feature .wrapper > ul > li {
  padding:20px;
}

.feature ul li.name {
  background-color:#600;
  border-top:3px solid #c80011;
}

.feature ul li.stats {
  background-color:#300;
  letter-spacing:-1px;
}

.feature ul li.stats ul {
  width:220px;
  margin-right:20px;
  float:left;
}

.feature ul li.stats ul li .label {
  font-weight:bold;
}

.schedule ul.days li a {
  color:#fff;
  font-size:30px;
  font-weight:bold;
  text-decoration:none;
}

.schedule ul.days li a .expand {
  margin-right:30px;
  color:#404040;
  font-size:36px;
  font-weight:normal;
}

.schedule ul.museums {
  padding:10px;
  color:#fff;
  font-size:18px;
}

.mmg-expand {
  width:20px;
  height:20px;
  position:absolute;
  color:#fff;
  border:2px solid #444;
  border-radius:12px;
}

.mmg-expand.one {
  background-color:rgba(217, 240, 163, 0.9);
  z-index:1;
}

.mmg-expand.two {
  background-color:rgba(173, 221, 142, 0.9);
  z-index:2;
}

.mmg-expand.three {
  background-color:rgba(120, 198, 121, 0.9);
  z-index:3;
}

.mmg-expand.four {
  background-color:rgba(49, 163, 84, 0.9);
  z-index:4;
}

.mmg-expand.five {
  background-color:rgba(0, 104, 55, 0.9);
  z-index:5;
}

.wax-tooltip {
  width:300px;
  padding:20px;
  z-index:999999;
  position:absolute;
  top:0;
  left:0;
  background-color:#333;
  color:#fff;
  color:#fea;
  -webkit-user-select:auto;
  opacity:1;
  -webkit-transition:opacity 150ms;
  -moz-transition:opacity 150ms;
}

.wax-fade {
  opacity:0;
}

.leaflet-popup-content {
	font: 12px/1.4 "Asap", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

ul.layers li, ul.museums li {
  margin-bottom:10px;
}

ul.layers li a, ul.museums li a {
  color:#fea;
  line-height:normal;
  text-decoration:none;
}

ul.layers li a.active, ul.museums li a.active {
  color:#74b6e6;
}

@media (min-width: 992px) {
  a.footer {
    display:none;
  }

  .schedule, .day, .feature {
    width:480px;
    display:block;
  }
}
